.container
{
    position:fixed;
    display:flex;
    flex-direction:column;
    float:left;
    background-color: #48cae4;
    align-content: center;
    align-items: center;
    height: 100%;
    border-left: #457b9d solid 7px;
    
}
button{
    width:150px;
    height:70px;
    background-color:darkseagreen;
    color:#83c5be;
    font-size:20px;
    border-radius:10px;

}

body{
    background-color:#e0fbfc;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
h1 {
    font-weight: 1000;
    text-align:center;
    color: #98c1d9;
    position: sticky;
    display: inline-block;
    margin-left: 40%;
   
}

.text{
   
    color: #34a0a4;
    position:relative;
    right:10px;
    margin:50px;
    font-size:30px;
    text-align:right;
    width: auto;
}
a {
   color: #1e6091;
    text-decoration:none;
    font-size:30px;
    letter-spacing:0.01em;
    margin: 10px;
    transition: all 0.3s;
     
}
a:hover{
    color: #118ab2;
}
.shevet{
   
    display: flex;
    position: relative;
    margin-top: 215px;
    margin-bottom: 10px;  
    justify-content: center;
   align-content: center;
    height:100%;
    width: 100%;
    
    
}

.image{
    
    position:absolute ;
    top: 10px;
    margin: 0 auto;
    
}

img{
    width:338.75px;
    height:196.5px;
    border-radius: 20px;
    
}
.header{
    position: static;
    border-bottom: #457b9d 7px solid;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #b6ccfe;   
   
}
.middle{
    margin-left: 20%;
    margin-right: 20%;
}
.buttons{
    position: absolute;
   
    
    
    
}
p{
    transition: all 0.3s;
    cursor: pointer;
}
p:hover{
    color: #48cae4;
}
.textBox{
    width: 80%;
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;  
   
}
.return{
    padding-top: 20%;
}

