@font-face {
    font-family: 'varela_roundregular';
    src: url('varelaround-regular-webfont.woff2') format('woff2'),
         url('varelaround-regular-webfont.woff') format('woff'),
         url('varelaround-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}



.container
{
    position:relative;
    display:flex;
    flex-direction:column;
    float:left;
    background-color: khaki;
    align-content: center;
    align-items: center;
    height: 100%;
    
}
button{
    width:150px;
    height:70px;
    background-color:darkseagreen;
    color:azure;
    font-size:20px;
    border-radius:10px;

}

body{
    background-color:rgb(26, 134, 184);
}
h1 {
    text-align:center;
    color: khaki;
   
}

.text{
   
    position:relative;
    right:10px;
    margin:50px;
    font-size:30px;
    text-align:right;
    width: auto;
}
a {
   
    text-decoration:none;
    color:black;
    font-size:30px;
    letter-spacing:0.01em;
    margin: 10px;
     font-family: 'varela_roundregular';
    src: url('varelaround-regular-webfont.woff2') format('woff2'),
         url('varelaround-regular-webfont.woff') format('woff'),
         url('varelaround-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
a:hover{
    color: rgb(255, 255, 255);
}
.shevet{
   
    display: flex;
    position: relative;
    margin-top: 215px;
    margin-bottom: 10px;  
    justify-content: center;
   align-content: center;
    height:100%;
    width: 100%;
    
    
}

.image{
    
    position:absolute ;
    top: 0px;
    margin: 0 auto;
    
}

img{
    width: 550px;
    height: 220px;
    border-radius: 20px;
    
}
.header{
    position: absolute;
    top: 0;
    width: 99%;
    display: flex;
    justify-content: space-around;
    background-color: khaki;   
   
}
.middle{
    margin-left: 20%;
    margin-right: 20%;
}
.buttons{
    position: fixed;
    top: 0;
    height: 100%;
    
    
}
p:hover{
    color: khaki;
}
.textBox{
    width: 70%;
    float: right;
    display: flex;
    flex-direction: column;
    height: 100%;  
   
}
.return{
    padding-top: 20%;
}
p{
 font-family: 'varela_roundregular';
    src: url('varelaround-regular-webfont.woff2') format('woff2'),
         url('varelaround-regular-webfont.woff') format('woff'),
         url('varelaround-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
